
  <!-- Footer -->
  <footer class="border">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
           <div class="text-muted small">
  <h5>About Sunrise Engineering:</h5> <p> <strong>Specialize in:</strong> SPM, Automation, Conveyor, Dies, Jigs, Rubber & Plastic Parts</p></div>
          </div>
     

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p><a href="/our-customers" class="text-decoration-none">Our Customers</a></p>
            <p><a href="/products" class="text-decoration-none">Product List</a></p>
          
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"> Useful links</h6>
            <p><a href="/about-us" class="text-decoration-none">About Us</a> </p>
            <!-- <p><a href="#" class="text-decoration-none">R&D</a> </p> -->
            <p><a href="/our-journey" class="text-decoration-none">Our Journey</a> </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold"> Contact</h6>
            <p><i class="bi bi-globe-central-south-asia"></i> Kharkhara Dharuhera-121306</p>
            <p><i class="bi bi-envelope-check"></i> info@sunriseengineering.com</p>
            <p><i class="bi bi-phone"></i> +91-123456789</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
      <hr class="my-3">
      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
           <div class="text-muted small">  © 2025 Sunrise Engineering</div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column social media -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <a class="btn btn-outline-primary btn-floating m-1" role="button" href="#"><i class="bi bi-facebook"></i></a>
            <a class="btn btn-outline-primary btn-floating m-1" role="button" href="#"><i class="bi bi-twitter"></i ></a>
            <a class="btn btn-outline-primary btn-floating m-1" role="button" href="#"><i class="bi bi-instagram"></i ></a>
            <a class="btn btn-outline-primary btn-floating m-1" role="button" href="#"><i class="bi bi-linkedin"></i ></a>
          </div>
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>

