<!-- Products Section -->
<section class="py-5" id="products">
  <div class="container py-5">
    <h2 class="section-title mb-4">Our Products</h2>
    <div class="row">
      <!-- Product 1 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-0">
          <img src="/assets/product-1.jpg" class="card-img-top img-fluid" alt="Hydraulic Press SPM">
          <div class="card-body">
            <h4 class="card-title mb-3">QA Machine for Toyota Crank Case</h4>
            <ul class="list-unstyled ps-3 mb-0">
              <li>✅ Checking Parameter</li>
              <li>✅ Profile</li>
              <li>✅ Position</li>
              <li>✅ Through Hole</li>
              <li>✅ Nut Tightening</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Product 2 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-0">
          <img src="/assets/product-2.jpg" class="card-img-top img-fluid" alt="Hydraulic Press SPM">
          <div class="card-body">
            <h4 class="card-title mb-3">QA Machine for Toyota Cylinder Block</h4>
            <ul class="list-unstyled ps-3 mb-0">
              <li>✅ Checking Parameter</li>
              <li>✅ Through Hole</li>
              <li>✅ Hole position </li>
              <li>✅ Hole Go/No go </li>
              <li>✅ Oil hole gallery</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Product 3 -->
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-0">
          <img src="/assets/hydraulic-press-spm.jpg" class="card-img-top img-fluid" alt="Hydraulic Press SPM">
          <div class="card-body">
            <h4 class="card-title mb-3">Hydraulic Press SPM</h4>
            <ul class="list-unstyled ps-3 mb-0">
              <li>✅ High Precision Operation with reliable hydraulic system</li>
              <li>✅ In-house design Facility 3D Solid Works with Work Station</li>
               <li>✅ Durable Frame & Components ensuring long-term performance</li>
            </ul>
          </div>
        </div>
      </div>
        <!-- Product 4 -->
          <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-0">
          <img src="/assets/con-1.jpg" class="card-img-top img-fluid" alt="Conveyor System">
          <div class="card-body">
            <h4 class="card-title mb-3">Conveyor System</h4>
            <ul class="list-unstyled ps-3 mb-0">
              <li>✅ Checking Parameter</li>
              <li>✅ Profile</li>
              
            </ul>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</section>